* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
}
.calcBody {
    width: 350px;
    height: 500px;
    padding: 30px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.display {
    padding: 10px;
    border: 2px solid orangered;
    height: 100px;
    display: flex;
}
.op-readout {
    border: 1px solid lightgrey;
    flex-basis: 10%;
}
.op-readout .ops {
    padding: 0;
    margin: 0;
    width: 24px;
    list-style: none;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
}
.op-readout #op {
    display: block;
    padding: 0;
    margin: 0;
    height: 28px;
    font-family:'Courier New', Courier, monospace;
    font-size: 18pt;
    border: 1px solid red;
}
.num-readout {
    font-size: 46pt;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    border: 1px solid lightgrey;
    text-align: right;
    flex-basis: 90%;
}
.btnContainer {
    border:2px solid orangered;
    height: 380px;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex: 1;
}
button {
    flex: 1;
}